.App {
  text-align: center;
}
.paper {
  width: 50%;
  margin: 0 auto;
  opacity: 85%;
  padding: 150px;
}

body {
  background: url("https://wallpapersite.com/images/pages/pic_h/4477.jpg")
    no-repeat center center;
  background-size: cover;
}

.form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.smurf {
  border: 1px solid black;
  width: 33%;
  margin: 30px auto;
}
